.App{
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.App .Subheader{
    font-size: 14px;
    padding: 10px;
}
.App .Subheader button{
    background: white;
    border: 2px solid #9CA3AF;
    color: black;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
.App .Subheader button:hover{
    background: #9CA3AF;
    transition: 0.2s ease-in-out;
}
.App h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}
.App p,
.App b,
.App a{
    color: #9CA3AF;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
}
.App .Header{
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
    width: 100%;
}
.App .Header svg{
    height: 75px;
    width: 75px;
}
.App .Content{
    align-items: center;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.App .Table{
    border: 1px solid #e1e4e8;
    border-radius: 12px;
    max-height: 500px;
    overflow-y: auto;
}
.App .Table table{
    border: 1px solid #e1e4e8;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}
.App .Table table tr:first-child{
    background: #f1f8ff;
}
.App .Table table tr:first-child td{
    border: none;
}
.App .Table table tr{
    border: 1px solid #e1e4e8;
}
.App .Table table td{
    border: 1px solid #e1e4e8;
    min-width: 50px;
    padding: 20px;
}
.App .Table table td.Selected{
    background: #f1f8ff;
    border: 2px solid #0071e3!important;
}
.App .Table table td input{
    border: none;
    background: transparent;
    width: 75px;
}
.App .Hint{
    border-top: 1px solid #e1e4e8;
    color: #586069;
    font-size: 15px;
    padding: 20px;
}
.App svg.octicon{
    margin-right: 5px;
}
.App .Footer{
    margin-top: auto;
}
.App kbd{
    background: lightGray;
    border: 1px solid lightGray;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    padding: 2px 5px;
}
.App button{
    align-items: center;
    background: #0071e3;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: max-content;
    margin: 10px;
    padding: 10px;
    width: max-content;
}
.App button:hover{
    background: #0065cc;
    transition: 0.2s ease-in-out;
}
/*
 * 
 * Result 
 * 
*/
.App .Result{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.App .Result textarea{
    border: 1px solid #e1e4e8;
    border-radius: 12px;
    height: 590px;
    outline: none;
    padding: 20px;
    width: 590px;
}
.App .Alert{
    position: fixed;
    right: 20px;
    top: 20px;
}
.App .Options{
    align-self: flex-end;
}
.App .Actions,
.App .Options{
    align-items: center;
    display: flex;
}
.App .Actions button:first-child,
.App .Options button{
    background: #fafbfc;
    border: 1px solid #e1e4e8;
    color: black;
}
/*
 * 
 * Indent Selector 
 * 
*/
.Selector{
    align-items: center;
    background: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    position: relative;
    width: 150px;
}
.Selector svg{
    position: absolute;
    right: 5px;
}
select {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    z-index: 2;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}

/*
 * 
 * Menu
 * 
 * 
 */
.Menu{
    background: white;
    border-radius: 10px;
    box-shadow: rgb(15 15 15/10%) 0px 0px 0px 1px,rgb(15 15 15/20%) 0px 5px 10px,rgb(15 15 15/40%) 0px 15px 40px;
    overflow: hidden;
}
.Menu ul{
    padding: 0;
}
.Menu ul li{
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 10px 20px;
}
.Menu ul li:hover{
    background: rgba(1, 1, 1, 0.1);
}
.Menu hr{
    border :0;
    border-top: 1px solid #e1e4e8;
    margin-bottom: 5px;
    margin-top: 5px;
}