*{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box; 
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    font-size: 17px;
    margin: 0;
    outline: none;
}
input, textarea{
    font-size: 17px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: #f5f2f0;
    border-radius: 5px;
    color: #dd4a68;
    font-size: 14px;
    padding: 2px;
}
h1, h2{
    font-weight: 800;
}
button{
    align-items: center;
    background: #0071e3;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: max-content;
    margin: 10px;
    padding: 10px;
    width: max-content;
}
button:hover{
    background: #0065cc;
    transition: 0.2s ease-in-out;
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
button:hover svg{
    animation: tilt 0.5s ease-in-out;
}
svg.octicon{
    margin-right: 10px;
}
select {
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    z-index: 2;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}
@keyframes tilt{
    50%  {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}
@keyframes swirl_in{
    0%    {transform: rotate(0deg);}
    100%  {transform: rotate(180deg);}
}
@keyframes swirl_out{
    0%    {transform: rotate(180deg);}
    100%  {transform: rotate(0);}
}
@keyframes appear{
    0%    {transform: translateY( 3px); opacity: 0;}
    50%   {transform: translateY(-1px); opacity: 0.5;}
    100%  {transform: translateY( 0px); opacity: 1;}
}
/*
 * 
 * App
 * 
 * 
 */
.App{
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.App .Subheader{
    font-size: 14px;
    padding: 10px;
}
.App .Subheader button{
    background: white;
    border: 2px solid #9CA3AF;
    color: black;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
.App .Subheader button:hover{
    background: #9CA3AF;
    transition: 0.2s ease-in-out;
}
.App h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}
.App p,
.App b,
.App a{
    color: #9CA3AF;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
}
.App .Header{
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    padding: 20px;
    width: 100%;
}
.App .Header svg{
    height: 75px;
    width: 75px;
}
.App .Content{
    align-items: center;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.App .Buttons{
    display: flex;
    flex-direction: column;
}
.App .Buttons button{
    width: 170px;
}
.App .Table{
    border: 1px solid #e1e4e8;
    border-radius: 12px;
    max-height: 500px;
    max-width: 800px;
    overflow-x: auto;
    overflow-y: auto;
}
.App .Table table{
    border: 1px solid #e1e4e8;
    border-collapse: collapse;
    border-style: hidden;
    width: 100%;
}
.App .Table table tr:first-child{
    background: #f1f8ff;
}
.App .Table table tr:first-child td{
    border: none;
}
.App .Table table tr{
    border: 1px solid #e1e4e8;
}
.App .Table table td{
    border: 1px solid #e1e4e8;
    min-width: 50px;
    padding: 20px;
    position: relative;
}
.App .Table table td.Selected{
    background: #f1f8ff;
    border: 2px solid #0071e3!important;
}
.App .Table table td input{
    border: none;
    background: transparent;
    outline: none;
    overflow: auto;
    resize: both;
    width: 75px;
}
.App .Table table td .Dragger{
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 10px;
    z-index:999999;
}
.App .Table table td:last-of-type .Dragger{
    right: 0px;
}
.App .Footer{
    margin-top: auto;
}
.App .Hint{
    color: gray;
    font-size: small;
    margin-left: auto;
}
/*
 * 
 * Result 
 * 
*/
.App .Result{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.App .Result .TextareaIndent{
    border: 1px solid #e1e4e8;
    border-radius: 12px;
    height: 590px;
    outline: none;
    position: relative;
    width: 590px;
}
.App .Result .TextareaIndent textarea{
    border: none;
    border-radius: 12px;
    height: 100%;
    outline: none;
    padding: 20px;
    resize: none;
    width: 100%;
}
.App .Result .TextareaIndent .Alert{
    color: red;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.App .Options{
    align-self: flex-end;
}
.App .Actions,
.App .Options{
    align-items: center;
    display: flex;
}
.App .Actions button:first-child,
.App .Options button{
    background: #fafbfc;
    border: 1px solid #e1e4e8;
    color: black;
}
/*
 * 
 * Indent Selector 
 * 
*/
.Selector{
    align-items: center;
    background: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    position: relative;
}
.Selector svg{
    position: absolute;
    right: 5px;
}
.Selector select{
    font-weight: bold;
}
/*
 * 
 * Menu
 * 
 * 
 */
.Menu{
    background: white;
    border-radius: 10px;
    box-shadow: rgb(15 15 15/10%) 0px 0px 0px 1px,rgb(15 15 15/20%) 0px 5px 10px,rgb(15 15 15/40%) 0px 15px 40px;
    overflow: hidden;
    min-width: 220px;
}
.Menu ul{
    padding: 0;
}
.Menu ul li{
    align-items: center;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    padding: 10px 20px;
}
.Menu ul li:hover{
    background: rgba(1, 1, 1, 0.1);
}
.Menu hr{
    border :0;
    border-top: 1px solid #e1e4e8;
    margin-bottom: 5px;
    margin-top: 5px;
}
/*
 * 
 * Changelog
 * 
 * 
 */
.Changelog{
    margin: auto;
    margin-bottom: 50px;
    max-width: 650px;
    width: 100%;
}
.Changelog h2{
    margin-top: 50px;
}
.Changelog img{
    border-radius: 12px;
    max-width: 100%;
}
/*
 * 
 * Footer
 * 
 * 
 */
.Footer{
    align-items: center;
    background: black;
    display: flex;
    margin-top: auto;
    padding: 50px;
}
.Footer a{
    color: white;
    font-size: 14px;
    margin: 5px;
    text-decoration: none;
}
.Footer svg{
    width: 30px;
}
/*
 * 
 * Multiple replaces
 * 
 * 
 */
.Multiple{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
.Multiple .Grid{
    display: flex;
    flex-wrap: wrap;
}
.Multiple .Grid .Block{
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    height: 200px;
    margin: 10px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    white-space: break-spaces;
    width: 200px;
}
.Multiple .Grid .Block .Name{
    background: #e1e4e8;
    font-size: 10px;
    right: 0;
    padding: 5px;
    position: absolute;
    top: 0;
}
.Multiple .Upload{
    align-items: center;
    border: 3px dashed #e1e4e8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    max-width: 500px;
    padding: 20px;
    position: relative;
    text-align: center;
}
.Multiple .Upload .Hint{
    animation: 0.5s appear ease-in-out;
    font-size: small;
    margin-top: 10px;
}
.Multiple .Grid .Upload{
    height: 200px;
    margin: 10px;
    width: 200px;
}
.Multiple .Upload:hover svg{
    animation: tilt 0.5s ease-in-out;
}
.Multiple .Grid .Upload svg{
    animation: 0.3s swirl_out ease-in-out;
}
.Multiple .Grid .Upload:hover svg{
    animation: 0.3s swirl_in ease-in-out;
}
.Multiple input[type='file']{
    cursor: pointer;
    font-size: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.Multiple .Replace{
    align-items: center;
    display: flex;
}
.Multiple .Replace input{
    background: #e1e4e8;
    border: none;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
}
.Multiple .Actions{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Multiple .Actions button{
    margin: 0;
}
.Multiple .Actions button:nth-of-type(1){
    background: #fafbfc;
    border: 1px solid #e1e4e8;
    color: black;
    margin-right: 5px;
}
.Multiple .Alerts{
    font-size: 14px;
}
.Multiple .DragAndDrop{
    align-items: center;
    display: flex;
}
.Multiple .DragAndDrop .Element{
    align-items: center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    padding: 10px;
    width: max-content;
}
.Multiple .DragAndDrop svg.octicon-grabber{
    cursor: grab;
    margin: 0;
}
/*
 * 
 * Mobile devices
 * 
 * 
 */
@media(max-width: 768px){
    .App .Subheader{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .App .Result,
    .App .Result textarea,
    .App .Table{
        width: 100%;
    }
    .App .Options{
        overflow-x: auto;
        width: 100%;
    }
    .Content{
        flex-direction: column;
        max-width: 100%;
    }
    
}
