# This is a basic workflow to deploy functions to Firebase

name: deployToFirebase

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
            node-version: '12'

      # Install npm
      - name: Installing npm 
        run: npm install

      # Build the project
      - name: Build project
        run: npm run build
        env: 
          CI: ""
          
      # Running tests
      - name: Running tests
        run: npm run test
        
      # Firebase deploy
      - name: Firebase deploy
        run: npm install -g firebase-tools && firebase deploy --token ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSONMATIC_PRO }}
